@charset "utf-8";
/* CSS Document */
p{ margin:0; padding:0;}
ul{ padding:0; margin:0;}
ul li{ list-style-type:none;}
i{ font-style:normal;}
.am-container { box-sizing: border-box;margin-left:auto;margin-right: auto;padding-left: 0rem;padding-right: 0rem;width: 100%;height:auto; overflow:hidden;}
.am-container > .am-g {width: auto;margin-left: 0rem;margin-right:0rem;}
[class*="am-u-"] {padding-left:0rem; padding-right: 0rem;float: left;position: relative;}
body{ background-color:#fff;}
input{ outline:none;}
.am-g .am-g {
    margin-left: 0rem;
    margin-right: 0rem;
}
.am-navbar {
    height: 55px;
    line-height: 55px;
	background-color:#fff;
}
.am-navbar-default .am-navbar-nav{ background-color:#ececec;}
.am-navbar-nav a {
    height: 55px;
    line-height: 20px;
	color:#333;
}
.am-navbar-nav a.active{ color:#fe6700;}
.am-navbar-nav a img{width:auto;height:22px;margin: 7px auto 0px;}
.am-navbar-nav a .am-navbar-label{ font-size:14px;}
.am-slider-a1 .am-control-nav li a.am-active {
    background-color: #ff5b00;
    cursor: default;
}
.borderbtu{ border-bottom:1px solid #e8e8e8;}
.borderbda{border-bottom:1px dashed #e8e8e8;}
.borderrig{ border-right:1px solid #e8e8e8;}
.bordert{border-top:1px solid #e8e8e8;}
.bordertb{border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;}
.am-header-default{ background-color:#f9f9f9; color:#666; border-bottom:1px solid #e8e8e8;}
.am-header-default .am-header-nav > a >i{ font-size:2rem;}
.am-header-default .am-header-nav > a {
    color: #333;
}
 .am-header-default .am-header-title a {
    color: #333;
}
.am-header .am-header-title{ font-size:1.6rem; color:#333;}
.divbg{ background-color:#fff;}
.nowactive{ background-color:#F37B1D; color:#fff; border-color:#F37B1D;}
.chk_3{display: none; }
.chk_3 + label {background-color: #fafbfa;padding: 9px;border-radius: 50px; margin-right:2px;display: inline-block;position: relative;-webkit-transition: all 0.1s ease-in;transition: all 0.1s ease-in;width: 42px;height: 18px;margin-bottom:0;}
.chk_3  + label:after {
	content: ' ';
	position: absolute;
	top: 0;
	-webkit-transition: box-shadow 0.1s ease-in;
	transition: box-shadow 0.1s ease-in;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
}

.chk_3  + label:before {
	content: ' ';
	position: absolute;
	background: white;
	top: 1px;
	left: 1px;
	z-index: 99;
	width: 16px;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	height: 16px;
	border-radius: 100px;
	box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
}
.chk_3:active + label:after {box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;}
.chk_3:active + label:before {width: 37px;}
.chk_3:checked:active + label:before {width: 37px;left: 20px;}
.chk_3  + label:active {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.chk_3:checked + label:before {content: ' ';position: absolute;left: 26px;border-radius: 100px;}
.chk_3:checked + label:after {content: ' ';font-size: 1.5em;position: absolute;background: #4cda60;box-shadow: 0 0 1px #4cda60;}

/*搜索框样式*/
.searchdivbox{width:100%;height:100%; position:fixed;left:0;top:0; z-index:999; background-color:#fff; display:none;}
.searchdivbox .inpubub{width:85%;height:auto; overflow:hidden; display:block; float:left; background-color:#e2e3e5; border-radius:5px;}
.searchdivbox .inpubub input{ border:none; padding:0.5em;background-color:#e2e3e5; float:left;width:80%;}
.searchdivbox .inpubub button{ border:none; background-color:transparent; float:right;width:20%;}
.searchdivbox .quxiao{ display:block;width:13%; padding:0.5em 0; text-align:center;}
.searchdivbox ul li{ padding:0}
.searchdivbox ul li a{ color:#666;}
